@font-face {
    font-family: 'Roboto';
    src: url(/css/resources/Roboto/Roboto-Medium.ttf)format('truetype');
 
* {
    box-sizing: border-box;
}

}
body {
    background-color: #fff;
    
}

/**HEADERS**/
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
}

header img {
    margin: auto 10px;
    padding-top: 15px;
}


h1 {
    text-align: left;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    color: rgb(38, 38, 38);
    width: auto;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/**sub-title**/
.sub_title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-style: italic;
}

/**footer**/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .container {
    text-align: center;
}

/**H1 Animation**/
.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
}

.slide-in.show {
    opacity: 1;
    transform: translateX(0);
}

/**Link Animation**/

.slide-in-link {
    display: inline-block; /* Ensure the images are treated as block elements */
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}

.slide-in-link.show {
    opacity: 1;
    transform: translateX(0);
}